<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<!-- Keep the default nuget.org -->
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />

		<!-- Add the Reactor feed where the CI builds are hosted -->
		<add key="Reactor" value="https://nuget.reactor.gg/v3/index.json" />

		<!-- Add the BepInEx feed for core dependencies -->
		<add key="BepInEx" value="https://nuget.bepinex.dev/v3/index.json" />
	</packageSources>
</configuration>